@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$site-width: 1200px;
$hero-width: 1600px;
$profile-image-width: 300px;

$gutter: 8px;
$gray: #333;
$primary: #1977F3;
$primary-light: #EEF5FE;

$small-breakpoint: 500px;
$medium-breakpoint: 960px;

.app {
  * {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: $gray;
  }
}

a {
  text-decoration: none;
  color: $gray;
}

.section {
  max-width: $site-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

.section-hero {
  max-width: $hero-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

.header {
  background-color: $primary-light;
  padding-top: 6px;
  padding-bottom: 6px;
  @media (min-width: $small-breakpoint) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  @media (min-width: $medium-breakpoint) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0;
        padding: 0;
        font-size: 19px;
        font-weight: 400;
        @media (min-width: $small-breakpoint) {
          font-size: 24px;
        }
        @media (min-width: $medium-breakpoint) {
          font-size: 34px;
        }
      }

      sub {
        font-size: 10px;
        font-style: italic;
        @media (min-width: $medium-breakpoint) {
          font-size: 13px;
        }
        @media (min-width: $medium-breakpoint) {
          font-size: 16px;
        }
      }
    }

    .right {
      a {
        padding: 3px 6px;
        border-radius: 3px;
        font-size: 11px;
        
        @media (min-width: $small-breakpoint) {
          font-size: 14px;
          padding: 6px 11px;
        }
        @media (min-width: $medium-breakpoint) {
          font-size: 16px;
          padding: 9px 16px;
        }

        &:hover,
        &:focus,
        &:active {
          background-color: $primary;
          color: white;
        }
      }
    }
  }
}

.hero {
  height: 570px;
  background-position: center;
  background-size: cover;

  @media (max-width: $medium-breakpoint) {
    height: 300px;
  }
}

.aboutme {
  display: grid;
  grid-template-columns: 1fr 2.6fr;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: $medium-breakpoint) {
    grid-template-columns: 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .left {
    @media (max-width: $medium-breakpoint) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .headshot_image {
      border-radius: 50%;
      width: $profile-image-width;

      @media (max-width: $medium-breakpoint) {
        width: $profile-image-width / 4;
        margin-top: 50px;
        margin-bottom: 20px;
      }
    }
  }
  
  .right {
    padding-left: 30px;
    @media (max-width: $medium-breakpoint) {
      padding-left: initial;
    }

    h2 {
      font-size: 32px;
      margin-top: 0;
      margin-bottom: 12px;
      @media (max-width: $medium-breakpoint) {
        text-align: center;
        font-size: 28px;
      }
    }

    p {
      @media (max-width: $medium-breakpoint) {
        font-size: 11px;
      }
    }
  }
}

.footer {
  background-color: $primary;
  padding-top: 16px;
  padding-bottom: 16px;
  @media (max-width: $medium-breakpoint) {
    font-size: 10px;
  }
  
  .footer__inner {
    display: flex;
    justify-content: space-between;

    .left {
      color: white;
    }
    .right {
      a {
        color: white;
        margin-left: 10px;
      }
    }
  }
}